.con-p{
	display: inline-block;
	text-decoration: none;
	color: white;
}

.fa {
padding-right: 5px;
padding-left: 5px;
 font-size: 30px;
 text-align: center;
 text-decoration: none;
 border-radius: 10%;
}
#google{
background-color: #EA4335;
}
#linkedin{
background-color: #0077B5;
}
